/.idea/
/classes/
/files/
/images/
/styles/
/sys-temp/
/templates/
/.htaccess
/adminer.php
/clear_static_cache.php
/config.ini
/config2.ini
/index.php
/install.ini
/install.log
/installed
/installer.php
/pdf.php
/standalone.php
/test.txt
/test.xml
/umi.nginx.conf
/vendor/UmiSpec/
